<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>MyForum</title>

    <link href="~/mystyle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div id="content">
        <div id="leftSidebar">
            <h3 id="cursive-center" style="color: #F4A460; margin-left: 5px;">Menu</h3>
            <ul>
                <li><a asp-page="/Poll/PollsList" style="font-family: cursive;"> Polls </a></li>
            </ul>
            <br />

            <h3 id="cursive-center" style="color: #F4A460; margin-left: 5px;">Admin panel</h3>
            <ul>                
                <li><a asp-page="/Admin/UsersList" id="cursive-center" style="color: #F4A460; margin-left: 5px; font-family: cursive;">Users</a></li>
                <li><a asp-page="/Admin/TopicsList" id="cursive-center" style="color: #F4A460; margin-left: 5px; font-family: cursive;">Topics</a></li>                
                <li><a asp-page="/Admin/PostsList" id="cursive-center" style="color: #F4A460; margin-left: 5px; font-family: cursive;">Posts</a></li>
                <li><a asp-page="/Admin/CommentsList" id="cursive-center" style="color: #F4A460; margin-left: 5px; font-family: cursive;">Comments</a></li>
                <li><a asp-page="/Admin/CompaintsList" id="cursive-center" style="color: #F4A460; margin-left: 5px; font-family: cursive;">Complaints</a></li>
            </ul>
        </div>

        <div id="header" style="text-align: center">
            <table width="100%">
                <tr><td width="91%" style="padding-top: 10px"><a id="styleTitle" asp-page="/Index">MyForum</a></td><td width="9%" style="padding-top: 10px"><a type="button" asp-page="/User/Index" class="btn btn-link profileLink">My Profile</a></td></tr>
            </table>
        </div>

        <div id="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>
