<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>MyForum</title>

    <link href="~/mystyle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        .adminList {
            color: #F4A460;
            font-family: cursive;
            margin-left: 5px;
            text-decoration: none;
        }

        .adminList:hover {
            color: #F4A460;
            font-family: cursive;
            margin-left: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="content">
        <div id="leftSidebar">
            <h3 id="cursive-center" style="color: #F4A460; margin-left: 5px; font-family: cursive;">Admin panel</h3>
            <ul>                
                <li><a asp-page="/Admin/UsersList" class="adminList"id="cursive-center" >Users</a></li>
                <li><a asp-page="/Admin/TopicsList" class="adminList" id="cursive-center" >Topics</a></li>                
                <li><a asp-page="/Admin/PostsList" class="adminList" id="cursive-center" >Posts</a></li>
                <li><a asp-page="/Admin/PollsList" class="adminList" id="cursive-center" >Polls</a></li>
                <li><a asp-page="/Admin/CommentsList" class="adminList" id="cursive-center" >Comments</a></li>
                <li><a asp-page="/Admin/CompaintsList" class="adminList" id="cursive-center" >Complaints</a></li>
            </ul>
        </div>

        <div id="header" style="text-align: center">
            <table width="100%">
                <tr>
                    <td style="padding-top: 10px; width: 175px"><div id="styleTitle">MyForum</div></td>
                    <td style="padding-top: 12px; width: 50px"><a class="topMenu" asp-page="/Index">Home</a></td>
                    <td style="padding-top: 12px; width: 50px"><a class="topMenu" asp-page="/Poll/PollsList">Polls</a></td>
                    <td style="padding-top: 12px; width: 75px"><a class="topMenu" asp-page="/Topic/Search">Find topic</a></td>
                    <td class="pull-right" style="padding-top: 10px"><a type="button" asp-page="/User/Index" class="btn btn-link topMenu">My Profile</a></td>
                </tr>
            </table>
        </div>

        <div id="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>
