@page
@model MyWebForum.Pages.User.LoginModel
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<form method="post">
    <table>
        <tr>
            <td class="form-group" style="text-align: right">
                <label asp-for="User.Email" class="control-label">E-mail:</label>
            </td>
            <td class="form-group" style="padding-left: 8px">
                <input type="text" asp-for="@Model.User.Email" class="form-control" style="margin: 3px"/>
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </td>
        </tr>
        <tr style="margin-top: 15px;">
            <td class="form-group" style="text-align: right">
                <label asp-for="User.Password" class="control-label">Password: </label>
            </td>
            <td class="form-group" style="padding-left: 8px;">
                <input type="password" asp-for="@Model.User.Password" class="form-control" style="margin: 3px"/>
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td style="margin:5px">
                <div class="form-group" style="margin: 5px">
                    <input class="btn btn-success" type="submit" style="width: 100px" value="Log in"  />
                </div>
            </td>
            <td style="margin:5px">
                <div style="margin: 5px; text-align: right">
                    <a href="~/User/Registration">You haven`t acount?</a>
                </div>
            </td>
        </tr>
    </table>
</form>
