@page
@model MyWebForum.Pages.Poll.PollsListModel
@{ 
    if(Model.IsAdmin == true)
    {
        Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Pages/Shared/_Layout.cshtml";
    }
}

<h2 class="cursive-left" style="color: #D2691E; "> All forum polls: </h2>

@{
    <table>
        <tr>
            <td>
                <form method="post" asp-page-handler="search">
                    <table>
                        <tr>
                            <td><input class="form-control" type="text" name="SearchTopic" style="width: 350px; margin-right: 15px" /></td>
                            <td><input class="btn btn-default pull-right" type="submit" value="Search" /></td>
                        </tr>
                    </table>
                </form>  
            </td>
            <td>
                <div style="margin: 15px">
                    <a class="btn btn-default" asp-page="SetCountOfQuestions">Create new poll</a>
                    <br>
                </div>
            </td>
        </tr>
    </table>
    <br>

    if(Model.Polls == null)
    {
        <h2 style="text-align: center; font-family: cursive;"> No one poll in the forum!</h2>
    }
    else
    {
        @foreach (var poll in Model.Polls)
        {
            <div style="background-color: white; width: 400px; padding: 10px; border-radius: 6px">
                <a asp-page="/Poll/Index" asp-route-id="@poll.Id" style="color: #F4A460; font-family: cursive;">
                    @poll.Name
                </a>
                <div class="pull-right" style="color: #F4A460; font-family: cursive;">@poll.CountViews</div>
            </div>
            <br/>
        } 
    }
}